{% extends 'common/base.html' %}
{% load static %}

{% block content %}
    <h1 class="h1 mb-24">Авторизация</h1>
    <div class="flex justify-between items-center xl:max-w-[1368px] mb-24  rounded-lg border p-10">
        <div class="w-full" x-data="loginForm()">
            <form class="flex flex-col *:rounded-lg  max-w-md" @submit.prevent="submit">
                <label for="email" class="pb-2.5">Email:</label>
                <input type="text" x-model="email" placeholder="Введите почту"
                       class="block h-[61px] mb-2 w-full border px-3 py-2">
                <label for="password" class="pb-2.5">Пароль:</label>
                <input type="password" x-model="password" placeholder="Введите пароль"
                       class="block h-[61px] mb-2 w-full border px-3 py-2">
                <a class="h-[61px] mt-4 flex items-center justify-center bg-[#F6F8FB] text-[#117FE3] font-medium"
                   href="{% url 'users:password_reset' %}">Восстановить пароль</a>
                <button type="submit"
                        class="bg-[#186FD4] h-[61px] uppercase font-bold text-[13px] text-white px-4 py-2 mt-4">
                    Авторизоваться
                </button>
                <a class="h-[61px] mt-4 flex items-center justify-center border font-medium" href="https://accounts.google.com/o/oauth2/v2/auth?redirect_uri={{ google_callback_uri }}&prompt=consent&response_type=code&client_id={{ google_client_id }}&scope=openid%20email%20profile&access_type=offline">
                    Авторизоваться через google
                </a>
            </form>

            <p x-text="error" class="text-red-600 mt-2"></p>
        </div>
        <div class="flex items-start border-l border-[#EAEAEA] pl-12 ml-10">
            <img class="mr-7" src="{% static 'images/vector.svg' %}"/>
            <div>
                <p class="font-medium text-3xl mb-10">Еще нет аккаунта?</p>
                <p class="text-[#515151] mb-3">
                    <span class="font-bold">Регистрация на сайте</span> позволяет получить доступ к статусу и истории
                    вашего заказа. Просто заполните
                    поля ниже, и вы получите учетную запись.
                </p>
                <p class="text-[#515151]">
                    Мы запрашиваем у вас только информацию, необходимую для того, чтобы сделать процесс покупки более
                    быстрым и легким.
                </p>
                <a class="h-[61px] w-fit py-6 px-7 mt-4 flex items-center justify-center bg-[#011120] rounded-lg text-white uppercase font-bold"
                   href="{% url 'users:register' %}">Зарегистрироваться</a><br>
            </div>

        </div>
    </div>

{% endblock %}

{% block script %}
    <script>
        function loginForm() {
            return {
                email: '',
                password: '',
                error: '',
                async submit() {
                    this.error = ''
                    try {
                        const response = await fetch('/api/v1/auth/login/', {
                            method: 'POST',
                            headers: {'Content-Type': 'application/json'},
                            body: JSON.stringify({email: this.email, password: this.password}),
                            credentials: 'include',
                        });

                        const data = await response.json();
                        console.log(data)

                        if (!response.ok) {
                            this.error = data.detail || 'Ошибка входа';
                            return;
                        }
                        window.location.href = '/'; // редирект после входа
                    } catch (e) {
                        this.error = 'Ошибка сети. Попробуйте позже.';
                    }
                }
            }
        }
    </script>
{% endblock %}