{% load i18n %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Восстановление пароля{% endblock %}</title>
</head>
<body>
    <h2>{% block header %}Восстановление пароля{% endblock %}</h2>
    <p>{% block message %}Здравствуйте, {{ user.full_name }}!{% endblock %}</p>

    <p>{% block instruction %}
        Вы запросили сброс пароля для своей учетной записи. Чтобы сбросить пароль, перейдите по следующей ссылке:
    {% endblock %}</p>

    <p>
        <a href="{{ protocol }}://{{ domain }}{% url 'users:password_reset_confirm' uidb64=uid token=token %}">
            Сбросить пароль
        </a>
    </p>

    <p>{% block note %}
        Если вы не запрашивали восстановление пароля, просто проигнорируйте это письмо.
    {% endblock %}</p>

    <p>{% block signature %}
        С уважением,<br>
        Ваша команда
    {% endblock %}</p>
</body>
</html>
