{% extends 'common/base.html' %}
{% load static %}

{% block content %}
    <h1>Задайте новый пароль</h1>
    <div class="w-full" x-data="resetPasswordForm()">
        <form class="flex flex-col *:rounded-lg  max-w-md" @submit.prevent="submit">
            <label for="password1" class="pb-2.5">Новый пароль:</label>
            <input type="password" x-model="password1" placeholder="Введите новый пароль"
                   class="block h-[61px] mb-2 w-full border px-3 py-2">
            <label for="password2" class="pb-2.5">Подтвердите пароль:</label>
            <input type="password" x-model="password2" placeholder="Введите пароль"
                   class="block h-[61px] mb-2 w-full border px-3 py-2">
            <button type="submit"
                    class="bg-[#186FD4] h-[61px] uppercase font-bold text-[13px] text-white px-4 py-2 mt-4">
                Обновить пароль
            </button>
        </form>
        <p x-text="error" class="text-red-600 mt-2"></p>
    </div>
{% endblock %}

{% block script %}
    <script>
    const window_url = window.location.pathname;
    const path_split = window.location.pathname.split('/')
    
    const uid = path_split[path_split.length - 3]
    const token = path_split[path_split.length - 2]

    function resetPasswordForm() {
        return {
            password1: '',
            password2: '',
            error: '',
            async submit() {
                if (this.password1 !== this.password2) {
                    this.error = "Пароли не совпадают";
                    return;
                }
                           
                const response = await fetch("http://localhost:8000{% url 'rest_password_reset_confirm' %}", {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({
                      "new_password1": this.password1,
                      "new_password2": this.password2,
                      "uid": uid,
                      "token": token,  
                    }),
                    credentials: 'include'
                })
                
                const data = await response.json()
                
                if (data.success) {
                    window.location.href = `http://localhost:8000{% url 'users:login' %}`
                } else {
                    this.error = data.error
                }
            }
        }
    }
    </script>
{% endblock %}