{% extends 'common/base.html' %}
{% load static %}

{% block content %}
    <h1 class="h1 mb-24">Восстановление пароля</h1>
    <div id="reset-password-container" class="flex justify-center mb-28" x-data="resetPasswordForm()">
        <form class="border p-10 max-w-md rounded-lg" @submit.prevent="submit">
            <p class="mb-4 text-center">
                <span class="font-medium">Забыли свой пароль?</span> Укажите свой Email или имя пользователя. Ссылку на
                создание нового пароля вы получите
                по электронной почте.
            </p>
            <label>Email:</label>
            <input type="text" x-model="email" autocomplete="email" placeholder="Введите почту"
                   class="block rounded-lg h-[61px] mb-2 mt-3 w-full border px-3 py-2" required>
            <button type="submit"
                    class="bg-[#186FD4] w-full h-[61px] rounded-lg uppercase font-bold text-[13px] text-white px-4 py-2 mt-4">
                Сбросить пароль
            </button>
        </form>
    </div>
{% endblock %}

{% block script %}
    <script>
        const resetPasswordContainer = document.querySelector('#reset-password-container');

        function resetPasswordForm() {
            return {
                email: '',
                async submit() {
                    const response = await fetch("http://localhost:8000{% url 'rest_password_reset' %}", {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({
                            email: this.email,
                        }),
                        credentials: 'include',
                    })

                    if (response.ok) {
                        resetPasswordContainer.innerHTML = `
                        <div class="flex flex-col items-center border p-10 max-w-md rounded-lg">
                            <img class="mb-4" width="30" height="30" src="{% static 'images/exclamation-point.svg' %}" alt=""/>
                            <p class="text-center">
                                Ссылка для сброса пароля и дальнейших инструкций отправлена вам на почту. Перейдите по ссылке и следуйте дальнейшим инструкциям.
                            </p>
                        </div>
                        `
                    }
                }
            }
        }
    </script>
{% endblock %}