*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}/*
! tailwindcss v3.4.17 | MIT License | https://tailwindcss.com
*//*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box; /* 1 */
  border-width: 0; /* 2 */
  border-style: solid; /* 2 */
  border-color: #e5e7eb; /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  -o-tab-size: 4;
     tab-size: 4; /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; /* 4 */
  font-feature-settings: normal; /* 5 */
  font-variation-settings: normal; /* 6 */
  -webkit-tap-highlight-color: transparent; /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0; /* 1 */
  line-height: inherit; /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
  border-top-width: 1px; /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; /* 1 */
  font-feature-settings: normal; /* 2 */
  font-variation-settings: normal; /* 3 */
  font-size: 1em; /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
  border-collapse: collapse; /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-feature-settings: inherit; /* 1 */
  font-variation-settings: inherit; /* 1 */
  font-size: 100%; /* 1 */
  font-weight: inherit; /* 1 */
  line-height: inherit; /* 1 */
  letter-spacing: inherit; /* 1 */
  color: inherit; /* 1 */
  margin: 0; /* 2 */
  padding: 0; /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button; /* 1 */
  background-color: transparent; /* 2 */
  background-image: none; /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/
dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1; /* 1 */
  color: #9ca3af; /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1; /* 1 */
  color: #9ca3af; /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/
:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block; /* 1 */
  vertical-align: middle; /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */
[hidden]:where(:not([hidden="until-found"])) {
  display: none;
}
.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}
@media (min-width: 640px) {

  .container {
    max-width: 640px;
  }
}
@media (min-width: 768px) {

  .container {
    max-width: 768px;
    padding-right: 25px;
    padding-left: 25px;
  }
}
@media (min-width: 1024px) {

  .container {
    max-width: 1024px;
  }
}
@media (min-width: 1280px) {

  .container {
    max-width: 1280px;
  }
}
@media (min-width: 1536px) {

  .container {
    max-width: 1536px;
  }
}
input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
input[type="number"] {
        -moz-appearance: textfield; /* Для Firefox */
    }
.divider {
  width: 100%;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(235 238 240 / var(--tw-border-opacity, 1));
}
.close-icon {
        width: 14px;
        height: 14px;
        position: relative;
        cursor: pointer; /* Указатель на иконку */
    }
.line {
        position: absolute;
        background-color: white;
        height: 2px;
        width: 100%;
        transition: transform 0.3s ease;
    }
/* Начальная позиция палочек */
.line-1 {
        top: 0;
    }
.line-2 {
        top: 50%;
        transform: translateY(-50%);
    }
/* Класс для крестика (при переключении) */
.cross .line-1 {
        transform: rotate(45deg) translate(3px, 2px);
    }
.cross .line-2 {
        transform: rotate(-45deg) translate(3px, -2px);
    }
.filter-title {
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 500;
  --tw-text-opacity: 1;
  color: rgb(65 68 70 / var(--tw-text-opacity, 1));
}
.filter-checkbox:checked::before {
        content: "";
        position: absolute;
        left: 10px;
        top: 5px;
        width: 6px;
        height: 12px;
        border: solid white; /* Белая галочка */
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
    }
.filter-checkbox:checked{
        background-color: #186FD4;
    }
.attribute:nth-child(n+5) {
        display: none !important;
    }
.swiper-button-next::after,
    .swiper-button-prev::after {
        font-size: 20px;
        color: #2C333D;
    }
.h1 {
        font-size: 48px;
        font-weight: bold;
    }
table.cart-table{
        width: 100%;
        border-collapse: separate;
    }
table.cart-table thead th:first-child {
        border-left-width: 1px;
        border-top-width: 1px;
        border-top-left-radius: 5px;
    }
table.cart-table thead th:last-child {
        border-right-width: 1px;
        border-top-width: 1px;
        border-top-right-radius: 5px;
    }
table.cart-table thead th {
        border-top-width: 1px;
    }
table.cart-table th,
    table.cart-table td {
        padding-top: 15px;
        padding-bottom: 15px;
    }
table.cart-table th:first-child,
    table.cart-table td:first-child {
        padding-left: 20px;
    }
table.cart-table th:last-child,
    table.cart-table td:last-child {
        padding-right: 20px;
    }
table.cart-table tr:last-child {
        border-bottom-width: 0;
    }
table.cart-table tr td:first-child {
        border-left-width: 1px;
    }
table.cart-table tr td:last-child {
        border-right-width: 1px;
    }
table.cart-table tr td {
        border-top-width: 1px;
        border-bottom-width: 1px;
    }
table.cart-table tr:last-child td:first-child {
        border-bottom-width: 1px;
        border-left-width: 1px;
        border-bottom-left-radius: 5px;
    }
table.cart-table tr:last-child td:last-child {
        border-bottom-width: 1px;
        border-right-width: 1px;
        border-bottom-right-radius: 5px;
    }
.invisible {
  visibility: hidden;
}
.static {
  position: static;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.left-0 {
  left: 0px;
}
.top-0 {
  top: 0px;
}
.z-10 {
  z-index: 10;
}
.z-20 {
  z-index: 20;
}
.order-1 {
  order: 1;
}
.order-2 {
  order: 2;
}
.order-3 {
  order: 3;
}
.col-span-2 {
  grid-column: span 2 / span 2;
}
.col-start-1 {
  grid-column-start: 1;
}
.col-start-2 {
  grid-column-start: 2;
}
.col-end-2 {
  grid-column-end: 2;
}
.col-end-3 {
  grid-column-end: 3;
}
.row-start-1 {
  grid-row-start: 1;
}
.row-start-2 {
  grid-row-start: 2;
}
.row-end-2 {
  grid-row-end: 2;
}
.row-end-3 {
  grid-row-end: 3;
}
.my-3 {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}
.my-5 {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}
.my-\[15px\] {
  margin-top: 15px;
  margin-bottom: 15px;
}
.my-\[32px\] {
  margin-top: 32px;
  margin-bottom: 32px;
}
.mb-10 {
  margin-bottom: 2.5rem;
}
.mb-12 {
  margin-bottom: 3rem;
}
.mb-16 {
  margin-bottom: 4rem;
}
.mb-2 {
  margin-bottom: 0.5rem;
}
.mb-24 {
  margin-bottom: 6rem;
}
.mb-28 {
  margin-bottom: 7rem;
}
.mb-3 {
  margin-bottom: 0.75rem;
}
.mb-4 {
  margin-bottom: 1rem;
}
.mb-5 {
  margin-bottom: 1.25rem;
}
.mb-\[110px\] {
  margin-bottom: 110px;
}
.mb-\[40px\] {
  margin-bottom: 40px;
}
.mb-\[90px\] {
  margin-bottom: 90px;
}
.ml-10 {
  margin-left: 2.5rem;
}
.ml-5 {
  margin-left: 1.25rem;
}
.mr-10 {
  margin-right: 2.5rem;
}
.mr-2 {
  margin-right: 0.5rem;
}
.mr-2\.5 {
  margin-right: 0.625rem;
}
.mr-5 {
  margin-right: 1.25rem;
}
.mr-7 {
  margin-right: 1.75rem;
}
.mr-\[7px\] {
  margin-right: 7px;
}
.mt-10 {
  margin-top: 2.5rem;
}
.mt-2 {
  margin-top: 0.5rem;
}
.mt-3 {
  margin-top: 0.75rem;
}
.mt-4 {
  margin-top: 1rem;
}
.mt-5 {
  margin-top: 1.25rem;
}
.mt-6 {
  margin-top: 1.5rem;
}
.mt-\[11px\] {
  margin-top: 11px;
}
.mt-\[15px\] {
  margin-top: 15px;
}
.mt-\[90px\] {
  margin-top: 90px;
}
.mt-\[9px\] {
  margin-top: 9px;
}
.block {
  display: block;
}
.inline-block {
  display: inline-block;
}
.flex {
  display: flex;
}
.inline-flex {
  display: inline-flex;
}
.table {
  display: table;
}
.grid {
  display: grid;
}
.hidden {
  display: none;
}
.h-10 {
  height: 2.5rem;
}
.h-\[14px\] {
  height: 14px;
}
.h-\[18px\] {
  height: 18px;
}
.h-\[1px\] {
  height: 1px;
}
.h-\[202px\] {
  height: 202px;
}
.h-\[26px\] {
  height: 26px;
}
.h-\[32px\] {
  height: 32px;
}
.h-\[40px\] {
  height: 40px;
}
.h-\[43px\] {
  height: 43px;
}
.h-\[45px\] {
  height: 45px;
}
.h-\[61px\] {
  height: 61px;
}
.h-\[74px\] {
  height: 74px;
}
.h-\[90px\] {
  height: 90px;
}
.h-fit {
  height: -moz-fit-content;
  height: fit-content;
}
.h-full {
  height: 100%;
}
.h-\[16px\] {
  height: 16px;
}
.max-h-0 {
  max-height: 0px;
}
.max-h-\[500px\] {
  max-height: 500px;
}
.w-10 {
  width: 2.5rem;
}
.w-\[13px\] {
  width: 13px;
}
.w-\[14px\] {
  width: 14px;
}
.w-\[159px\] {
  width: 159px;
}
.w-\[17px\] {
  width: 17px;
}
.w-\[19px\] {
  width: 19px;
}
.w-\[21px\] {
  width: 21px;
}
.w-\[248px\] {
  width: 248px;
}
.w-\[26px\] {
  width: 26px;
}
.w-\[331px\] {
  width: 331px;
}
.w-\[449px\] {
  width: 449px;
}
.w-\[50px\] {
  width: 50px;
}
.w-\[61px\] {
  width: 61px;
}
.w-\[90px\] {
  width: 90px;
}
.w-\[97px\] {
  width: 97px;
}
.w-fit {
  width: -moz-fit-content;
  width: fit-content;
}
.w-full {
  width: 100%;
}
.w-\[18px\] {
  width: 18px;
}
.w-\[400px\] {
  width: 400px;
}
.max-w-\[308px\] {
  max-width: 308px;
}
.max-w-\[60px\] {
  max-width: 60px;
}
.max-w-md {
  max-width: 28rem;
}
.flex-1 {
  flex: 1 1 0%;
}
.-translate-x-full {
  --tw-translate-x: -100%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.cursor-pointer {
  cursor: pointer;
}
.list-inside {
  list-style-position: inside;
}
.list-decimal {
  list-style-type: decimal;
}
.list-disc {
  list-style-type: disc;
}
.appearance-none {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}
.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
.grid-cols-4 {
  grid-template-columns: repeat(4, minmax(0, 1fr));
}
.flex-col {
  flex-direction: column;
}
.flex-wrap {
  flex-wrap: wrap;
}
.items-start {
  align-items: flex-start;
}
.items-end {
  align-items: flex-end;
}
.items-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.gap-1 {
  gap: 0.25rem;
}
.gap-10 {
  gap: 2.5rem;
}
.gap-2 {
  gap: 0.5rem;
}
.gap-2\.5 {
  gap: 0.625rem;
}
.gap-3 {
  gap: 0.75rem;
}
.gap-3\.5 {
  gap: 0.875rem;
}
.gap-4 {
  gap: 1rem;
}
.gap-5 {
  gap: 1.25rem;
}
.gap-6 {
  gap: 1.5rem;
}
.gap-7 {
  gap: 1.75rem;
}
.gap-8 {
  gap: 2rem;
}
.gap-9 {
  gap: 2.25rem;
}
.gap-\[10px\] {
  gap: 10px;
}
.gap-\[11px\] {
  gap: 11px;
}
.gap-\[17px\] {
  gap: 17px;
}
.gap-\[18px\] {
  gap: 18px;
}
.gap-\[20px\] {
  gap: 20px;
}
.gap-\[23px\] {
  gap: 23px;
}
.gap-\[30px\] {
  gap: 30px;
}
.gap-\[40px\] {
  gap: 40px;
}
.gap-\[5px\] {
  gap: 5px;
}
.gap-\[7px\] {
  gap: 7px;
}
.gap-\[9px\] {
  gap: 9px;
}
.gap-x-\[18px\] {
  -moz-column-gap: 18px;
       column-gap: 18px;
}
.gap-x-\[20px\] {
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.gap-x-\[30px\] {
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.gap-x-\[37px\] {
  -moz-column-gap: 37px;
       column-gap: 37px;
}
.gap-y-5 {
  row-gap: 1.25rem;
}
.gap-y-\[10px\] {
  row-gap: 10px;
}
.gap-y-\[15px\] {
  row-gap: 15px;
}
.gap-y-\[20px\] {
  row-gap: 20px;
}
.divide-y > :not([hidden]) ~ :not([hidden]) {
  --tw-divide-y-reverse: 0;
  border-top-width: calc(1px * calc(1 - var(--tw-divide-y-reverse)));
  border-bottom-width: calc(1px * var(--tw-divide-y-reverse));
}
.overflow-hidden {
  overflow: hidden;
}
.overflow-scroll {
  overflow: scroll;
}
.whitespace-nowrap {
  white-space: nowrap;
}
.text-nowrap {
  text-wrap: nowrap;
}
.rounded {
  border-radius: 0.25rem;
}
.rounded-3xl {
  border-radius: 1.5rem;
}
.rounded-lg {
  border-radius: 0.5rem;
}
.border {
  border-width: 1px;
}
.border-\[3px\] {
  border-width: 3px;
}
.border-b {
  border-bottom-width: 1px;
}
.border-b-2 {
  border-bottom-width: 2px;
}
.border-l {
  border-left-width: 1px;
}
.border-t {
  border-top-width: 1px;
}
.border-solid {
  border-style: solid;
}
.border-dashed {
  border-style: dashed;
}
.border-dotted {
  border-style: dotted;
}
.border-none {
  border-style: none;
}
.border-\[\#DFDFDF\] {
  --tw-border-opacity: 1;
  border-color: rgb(223 223 223 / var(--tw-border-opacity, 1));
}
.border-\[\#DFE0E2\] {
  --tw-border-opacity: 1;
  border-color: rgb(223 224 226 / var(--tw-border-opacity, 1));
}
.border-\[\#EAEAEA\] {
  --tw-border-opacity: 1;
  border-color: rgb(234 234 234 / var(--tw-border-opacity, 1));
}
.border-\[\#EDF0F2\] {
  --tw-border-opacity: 1;
  border-color: rgb(237 240 242 / var(--tw-border-opacity, 1));
}
.border-\[\#EE0906\] {
  --tw-border-opacity: 1;
  border-color: rgb(238 9 6 / var(--tw-border-opacity, 1));
}
.border-\[\#EEEEEE\] {
  --tw-border-opacity: 1;
  border-color: rgb(238 238 238 / var(--tw-border-opacity, 1));
}
.border-\[\#F3F4F5\] {
  --tw-border-opacity: 1;
  border-color: rgb(243 244 245 / var(--tw-border-opacity, 1));
}
.border-primary {
  --tw-border-opacity: 1;
  border-color: rgb(24 111 212 / var(--tw-border-opacity, 1));
}
.border-b-\[\#EE0906\] {
  --tw-border-opacity: 1;
  border-bottom-color: rgb(238 9 6 / var(--tw-border-opacity, 1));
}
.bg-\[\#011120\] {
  --tw-bg-opacity: 1;
  background-color: rgb(1 17 32 / var(--tw-bg-opacity, 1));
}
.bg-\[\#186FD4\] {
  --tw-bg-opacity: 1;
  background-color: rgb(24 111 212 / var(--tw-bg-opacity, 1));
}
.bg-\[\#1B9665\] {
  --tw-bg-opacity: 1;
  background-color: rgb(27 150 101 / var(--tw-bg-opacity, 1));
}
.bg-\[\#F2F6FC\] {
  --tw-bg-opacity: 1;
  background-color: rgb(242 246 252 / var(--tw-bg-opacity, 1));
}
.bg-\[\#F3F4F5\] {
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 245 / var(--tw-bg-opacity, 1));
}
.bg-\[\#F6F8FB\] {
  --tw-bg-opacity: 1;
  background-color: rgb(246 248 251 / var(--tw-bg-opacity, 1));
}
.bg-black {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity, 1));
}
.bg-primary {
  --tw-bg-opacity: 1;
  background-color: rgb(24 111 212 / var(--tw-bg-opacity, 1));
}
.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
}
.object-cover {
  -o-object-fit: cover;
     object-fit: cover;
}
.p-10 {
  padding: 2.5rem;
}
.p-3\.5 {
  padding: 0.875rem;
}
.p-6 {
  padding: 1.5rem;
}
.p-\[20px\] {
  padding: 20px;
}
.p-\[9\.5px\] {
  padding: 9.5px;
}
.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}
.px-3\.5 {
  padding-left: 0.875rem;
  padding-right: 0.875rem;
}
.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.px-7 {
  padding-left: 1.75rem;
  padding-right: 1.75rem;
}
.px-\[11px\] {
  padding-left: 11px;
  padding-right: 11px;
}
.px-\[15\.5px\] {
  padding-left: 15.5px;
  padding-right: 15.5px;
}
.px-\[15px\] {
  padding-left: 15px;
  padding-right: 15px;
}
.px-\[21px\] {
  padding-left: 21px;
  padding-right: 21px;
}
.px-\[24px\] {
  padding-left: 24px;
  padding-right: 24px;
}
.px-\[5px\] {
  padding-left: 5px;
  padding-right: 5px;
}
.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.py-2\.5 {
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
}
.py-3\.5 {
  padding-top: 0.875rem;
  padding-bottom: 0.875rem;
}
.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.py-5 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}
.py-6 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.py-\[11px\] {
  padding-top: 11px;
  padding-bottom: 11px;
}
.py-\[13px\] {
  padding-top: 13px;
  padding-bottom: 13px;
}
.py-\[15px\] {
  padding-top: 15px;
  padding-bottom: 15px;
}
.py-\[16px\] {
  padding-top: 16px;
  padding-bottom: 16px;
}
.py-\[18px\] {
  padding-top: 18px;
  padding-bottom: 18px;
}
.py-\[20px\] {
  padding-top: 20px;
  padding-bottom: 20px;
}
.py-\[3px\] {
  padding-top: 3px;
  padding-bottom: 3px;
}
.py-\[9px\] {
  padding-top: 9px;
  padding-bottom: 9px;
}
.pb-2\.5 {
  padding-bottom: 0.625rem;
}
.pl-1 {
  padding-left: 0.25rem;
}
.pl-12 {
  padding-left: 3rem;
}
.pl-2 {
  padding-left: 0.5rem;
}
.pl-4 {
  padding-left: 1rem;
}
.pl-5 {
  padding-left: 1.25rem;
}
.pl-\[29px\] {
  padding-left: 29px;
}
.pr-5 {
  padding-right: 1.25rem;
}
.pr-\[40px\] {
  padding-right: 40px;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}
.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem;
}
.text-\[11px\] {
  font-size: 11px;
}
.text-\[13px\] {
  font-size: 13px;
}
.text-\[15px\] {
  font-size: 15px;
}
.text-\[17px\] {
  font-size: 17px;
}
.text-\[18px\] {
  font-size: 18px;
}
.text-\[30px\] {
  font-size: 30px;
}
.text-\[48px\] {
  font-size: 48px;
}
.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}
.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}
.text-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}
.font-bold {
  font-weight: 700;
}
.font-medium {
  font-weight: 500;
}
.font-normal {
  font-weight: 400;
}
.font-semibold {
  font-weight: 600;
}
.uppercase {
  text-transform: uppercase;
}
.capitalize {
  text-transform: capitalize;
}
.leading-7 {
  line-height: 1.75rem;
}
.leading-\[26px\] {
  line-height: 26px;
}
.leading-\[28px\] {
  line-height: 28px;
}
.text-\[\#003B73\] {
  --tw-text-opacity: 1;
  color: rgb(0 59 115 / var(--tw-text-opacity, 1));
}
.text-\[\#117FE3\] {
  --tw-text-opacity: 1;
  color: rgb(17 127 227 / var(--tw-text-opacity, 1));
}
.text-\[\#186FD4\] {
  --tw-text-opacity: 1;
  color: rgb(24 111 212 / var(--tw-text-opacity, 1));
}
.text-\[\#26292D\] {
  --tw-text-opacity: 1;
  color: rgb(38 41 45 / var(--tw-text-opacity, 1));
}
.text-\[\#2A5E8D\] {
  --tw-text-opacity: 1;
  color: rgb(42 94 141 / var(--tw-text-opacity, 1));
}
.text-\[\#2C333D\] {
  --tw-text-opacity: 1;
  color: rgb(44 51 61 / var(--tw-text-opacity, 1));
}
.text-\[\#2E3032\] {
  --tw-text-opacity: 1;
  color: rgb(46 48 50 / var(--tw-text-opacity, 1));
}
.text-\[\#333436\] {
  --tw-text-opacity: 1;
  color: rgb(51 52 54 / var(--tw-text-opacity, 1));
}
.text-\[\#35383A\] {
  --tw-text-opacity: 1;
  color: rgb(53 56 58 / var(--tw-text-opacity, 1));
}
.text-\[\#363839\] {
  --tw-text-opacity: 1;
  color: rgb(54 56 57 / var(--tw-text-opacity, 1));
}
.text-\[\#444648\] {
  --tw-text-opacity: 1;
  color: rgb(68 70 72 / var(--tw-text-opacity, 1));
}
.text-\[\#474B4E\] {
  --tw-text-opacity: 1;
  color: rgb(71 75 78 / var(--tw-text-opacity, 1));
}
.text-\[\#4C5054\] {
  --tw-text-opacity: 1;
  color: rgb(76 80 84 / var(--tw-text-opacity, 1));
}
.text-\[\#4E5760\] {
  --tw-text-opacity: 1;
  color: rgb(78 87 96 / var(--tw-text-opacity, 1));
}
.text-\[\#515151\] {
  --tw-text-opacity: 1;
  color: rgb(81 81 81 / var(--tw-text-opacity, 1));
}
.text-\[\#515257\] {
  --tw-text-opacity: 1;
  color: rgb(81 82 87 / var(--tw-text-opacity, 1));
}
.text-\[\#6B7076\] {
  --tw-text-opacity: 1;
  color: rgb(107 112 118 / var(--tw-text-opacity, 1));
}
.text-\[\#6C7177\] {
  --tw-text-opacity: 1;
  color: rgb(108 113 119 / var(--tw-text-opacity, 1));
}
.text-\[\#787C80\] {
  --tw-text-opacity: 1;
  color: rgb(120 124 128 / var(--tw-text-opacity, 1));
}
.text-\[\#7D7F83\] {
  --tw-text-opacity: 1;
  color: rgb(125 127 131 / var(--tw-text-opacity, 1));
}
.text-\[\#81868B\] {
  --tw-text-opacity: 1;
  color: rgb(129 134 139 / var(--tw-text-opacity, 1));
}
.text-\[\#8F9296\] {
  --tw-text-opacity: 1;
  color: rgb(143 146 150 / var(--tw-text-opacity, 1));
}
.text-\[\#96999E\] {
  --tw-text-opacity: 1;
  color: rgb(150 153 158 / var(--tw-text-opacity, 1));
}
.text-\[\#979DA3\] {
  --tw-text-opacity: 1;
  color: rgb(151 157 163 / var(--tw-text-opacity, 1));
}
.text-\[\#A7AAAE\] {
  --tw-text-opacity: 1;
  color: rgb(167 170 174 / var(--tw-text-opacity, 1));
}
.text-\[\#A8ADB2\] {
  --tw-text-opacity: 1;
  color: rgb(168 173 178 / var(--tw-text-opacity, 1));
}
.text-black {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity, 1));
}
.text-primary {
  --tw-text-opacity: 1;
  color: rgb(24 111 212 / var(--tw-text-opacity, 1));
}
.text-red-600 {
  --tw-text-opacity: 1;
  color: rgb(220 38 38 / var(--tw-text-opacity, 1));
}
.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}
.underline {
  text-decoration-line: underline;
}
.line-through {
  text-decoration-line: line-through;
}
.decoration-dotted {
  text-decoration-style: dotted;
}
.underline-offset-4 {
  text-underline-offset: 4px;
}
.accent-\[\#186FD4\] {
  accent-color: #186FD4;
}
.shadow-lg {
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.filter {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}
.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.transition-transform {
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.duration-500 {
  transition-duration: 500ms;
}
.ease-in {
  transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
}
.ease-in-out {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width: 768px) {

  .md\:container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
  }

  @media (min-width: 640px) {

    .md\:container {
      max-width: 640px;
    }
  }

  @media (min-width: 768px) {

    .md\:container {
      max-width: 768px;
      padding-right: 25px;
      padding-left: 25px;
    }
  }

  @media (min-width: 1024px) {

    .md\:container {
      max-width: 1024px;
    }
  }

  @media (min-width: 1280px) {

    .md\:container {
      max-width: 1280px;
    }
  }

  @media (min-width: 1536px) {

    .md\:container {
      max-width: 1536px;
    }
  }
}

.\*\:h-\[52px\] > * {
  height: 52px;
}

.\*\:w-full > * {
  width: 100%;
}

.\*\:rounded > * {
  border-radius: 0.25rem;
}

.\*\:rounded-lg > * {
  border-radius: 0.5rem;
}

.\*\:px-\[25px\] > * {
  padding-left: 25px;
  padding-right: 25px;
}

.\*\:py-\[18px\] > * {
  padding-top: 18px;
  padding-bottom: 18px;
}

.\*\:text-\[15px\] > * {
  font-size: 15px;
}

.\*\:text-sm > * {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.\*\:font-medium > * {
  font-weight: 500;
}

.\*\:font-semibold > * {
  font-weight: 600;
}

.\*\:text-\[\#404244\] > * {
  --tw-text-opacity: 1;
  color: rgb(64 66 68 / var(--tw-text-opacity, 1));
}

.\*\:opacity-20 > * {
  opacity: 0.2;
}

.marker\:text-\[\#EE0906\] *::marker {
  color: rgb(238 9 6 );
}

.marker\:text-\[\#EE0906\]::marker {
  color: rgb(238 9 6 );
}

.hover\:border-none:hover {
  border-style: none;
}

.hover\:bg-\[\#F6F8FB\]:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(246 248 251 / var(--tw-bg-opacity, 1));
}

.hover\:bg-black:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity, 1));
}

.hover\:bg-gray-200:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(229 231 235 / var(--tw-bg-opacity, 1));
}

.hover\:text-\[\#186FD4\]:hover {
  --tw-text-opacity: 1;
  color: rgb(24 111 212 / var(--tw-text-opacity, 1));
}

.hover\:text-white:hover {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.\*\:hover\:\*\:text-black > *:hover > * {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity, 1));
}

.hover\:\*\:text-black > *:hover {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity, 1));
}

.hover\:\*\:\*\:underline > * > *:hover {
  text-decoration-line: underline;
}

.hover\:\*\:underline > *:hover {
  text-decoration-line: underline;
}

.focus\:outline-0:focus {
  outline-width: 0px;
}

@media (min-width: 768px) {

  .md\:invisible {
    visibility: hidden;
  }

  .md\:relative {
    position: relative;
  }

  .md\:block {
    display: block;
  }

  .md\:flex {
    display: flex;
  }

  .md\:grid {
    display: grid;
  }

  .md\:hidden {
    display: none;
  }

  .md\:h-fit {
    height: -moz-fit-content;
    height: fit-content;
  }

  .md\:max-h-full {
    max-height: 100%;
  }

  .md\:w-\[371px\] {
    width: 371px;
  }

  .md\:w-auto {
    width: auto;
  }

  .md\:w-full {
    width: 100%;
  }

  .md\:translate-x-0 {
    --tw-translate-x: 0px;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .md\:cursor-default {
    cursor: default;
  }

  .md\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .md\:flex-row {
    flex-direction: row;
  }

  .md\:flex-row-reverse {
    flex-direction: row-reverse;
  }

  .md\:justify-between {
    justify-content: space-between;
  }

  .md\:gap-0 {
    gap: 0px;
  }

  .md\:gap-5 {
    gap: 1.25rem;
  }

  .md\:gap-6 {
    gap: 1.5rem;
  }

  .md\:gap-7 {
    gap: 1.75rem;
  }

  .md\:gap-\[27px\] {
    gap: 27px;
  }

  .md\:gap-\[30px\] {
    gap: 30px;
  }

  .md\:gap-x-\[74px\] {
    -moz-column-gap: 74px;
         column-gap: 74px;
  }

  .md\:divide-y-0 > :not([hidden]) ~ :not([hidden]) {
    --tw-divide-y-reverse: 0;
    border-top-width: calc(0px * calc(1 - var(--tw-divide-y-reverse)));
    border-bottom-width: calc(0px * var(--tw-divide-y-reverse));
  }

  .md\:overflow-hidden {
    overflow: hidden;
  }

  .md\:overflow-visible {
    overflow: visible;
  }

  .md\:text-nowrap {
    text-wrap: nowrap;
  }

  .md\:bg-\[\#F9FAFB\] {
    --tw-bg-opacity: 1;
    background-color: rgb(249 250 251 / var(--tw-bg-opacity, 1));
  }

  .md\:bg-transparent {
    background-color: transparent;
  }

  .md\:px-0 {
    padding-left: 0px;
    padding-right: 0px;
  }

  .md\:px-3 {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }

  .md\:px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .md\:py-\[15px\] {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .md\:text-\[30px\] {
    font-size: 30px;
  }

  .md\:\*\:text-\[14px\] > * {
    font-size: 14px;
  }
}

@media (min-width: 1024px) {

  .lg\:col-span-1 {
    grid-column: span 1 / span 1;
  }

  .lg\:col-span-2 {
    grid-column: span 2 / span 2;
  }

  .lg\:ml-0 {
    margin-left: 0px;
  }

  .lg\:mr-0 {
    margin-right: 0px;
  }

  .lg\:mt-7 {
    margin-top: 1.75rem;
  }

  .lg\:w-fit {
    width: -moz-fit-content;
    width: fit-content;
  }

  .lg\:columns-2 {
    -moz-columns: 2;
         columns: 2;
  }

  .lg\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .lg\:flex-row-reverse {
    flex-direction: row-reverse;
  }

  .lg\:justify-between {
    justify-content: space-between;
  }
}

@media (min-width: 1280px) {

  .xl\:static {
    position: static;
  }

  .xl\:block {
    display: block;
  }

  .xl\:grid {
    display: grid;
  }

  .xl\:hidden {
    display: none;
  }

  .xl\:w-fit {
    width: -moz-fit-content;
    width: fit-content;
  }

  .xl\:max-w-\[1368px\] {
    max-width: 1368px;
  }

  .xl\:translate-x-0 {
    --tw-translate-x: 0px;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .xl\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .xl\:flex-row {
    flex-direction: row;
  }

  .xl\:items-center {
    align-items: center;
  }

  .xl\:gap-\[20px\] {
    gap: 20px;
  }

  .xl\:gap-x-\[50px\] {
    -moz-column-gap: 50px;
         column-gap: 50px;
  }

  .xl\:divide-y-0 > :not([hidden]) ~ :not([hidden]) {
    --tw-divide-y-reverse: 0;
    border-top-width: calc(0px * calc(1 - var(--tw-divide-y-reverse)));
    border-bottom-width: calc(0px * var(--tw-divide-y-reverse));
  }

  .xl\:border-none {
    border-style: none;
  }

  .xl\:py-\[27px\] {
    padding-top: 27px;
    padding-bottom: 27px;
  }

  .xl\:text-\[\#6C6F71\] {
    --tw-text-opacity: 1;
    color: rgb(108 111 113 / var(--tw-text-opacity, 1));
  }

  .xl\:\*\:px-0 > * {
    padding-left: 0px;
    padding-right: 0px;
  }

  .xl\:\*\:py-0 > * {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

@media (min-width: 1536px) {

  .\32xl\:block {
    display: block;
  }

  .\32xl\:flex {
    display: flex;
  }

  .\32xl\:w-\[722px\] {
    width: 722px;
  }

  .\32xl\:grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .\32xl\:flex-col {
    flex-direction: column;
  }

  .\32xl\:gap-9 {
    gap: 2.25rem;
  }

  .\32xl\:gap-\[30px\] {
    gap: 30px;
  }

  .\32xl\:text-base {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}
